[submodule "Audio_DL/DCASE2024_seld_baseline"]
	path = Audio_DL/DCASE2024_seld_baseline
	url = https://github.com/partha2409/DCASE2024_seld_baseline.git
[submodule "Audio_DL/dcase2023-audio-retrieval"]
	path = Audio_DL/dcase2023-audio-retrieval
	url = git@github.com:Yuvraj-Dhepe/dcase2023-audio-retrieval.git
[submodule "LLM_Projects/LM_Projects/07_HF_Agents_Crs/01_dummy_agent/Smol_Agent_U01_HF_CRS"]
	path = LLM_Projects/LM_Projects/07_HF_Agents_Crs/01_dummy_agent/Smol_Agent_U01_HF_CRS
	url = https://huggingface.co/spaces/yuvidhepe/Smol_Agent_U01_HF_CRS
[submodule "LLM_Projects/07_HF_Agents_Crs/01_dummy_agent/Smol_Agent_U01_HF_CRS"]
	path = LLM_Projects/07_HF_Agents_Crs/01_dummy_agent/Smol_Agent_U01_HF_CRS
	url = https://huggingface.co/spaces/yuvidhepe/Smol_Agent_U01_HF_CRS
